/* colours */
$bg-blue-01: #7CCDF2;
$text-color-01: #fff;
$text-color-02: #b51742;
$text-color-03: #53606b;
$text-color-04: #f2e518;
$bg-info-01: $text-color-02;
$bg-info-02: #E9B700;
$bg-info-03: #5B2845;
$bg-info-04: #76BBA4;
$image-over-color: #e9b700;
$image-over-opacity: 0.8;


/* fonts */
$icomoon-font-path: "../images/fonts" !default;

$j2-custom-font-j2-custom-font-brochure: "\61";
$j2-custom-font-j2-custom-font-bus: "\62";
$j2-custom-font-j2-custom-font-camera: "\63";
$j2-custom-font-j2-custom-font-car: "\64";
$j2-custom-font-j2-custom-font-floorplan: "\65";
$j2-custom-font-j2-custom-font-mail: "\66";
$j2-custom-font-j2-custom-font-navicon: "\67";
$j2-custom-font-j2-custom-font-plane: "\68";
$j2-custom-font-j2-custom-font-tram: "\69";
$j2-custom-font-j2-custom-font-trapez: "\6a";

