.section
	.img-wrapper
		img.full-image(src='/images/images/j320-buzzing-cultural.jpg')
	.info-buzzing
		.info-title #{site.data.buzzing.title}
		.info-divider
		.info-description #{site.data.buzzing.description} 